<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucsm.tylersai.pos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/poslogorect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/poslogorect"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseQRBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GenQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GenBarActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AfterScanActivity"></activity>
    </application>

</manifest>